[submodule "auth-server"]
	path = auth-server
	url = git@github.com:charitan-go/auth-server.git
[submodule "profile-server"]
	path = profile-server
	url = git@github.com:charitan-go/profile-server.git
[submodule "charitan-api-gateway"]
  path = charitan-api-gateway  
  url = git@github.com:charitan-go/charitan-api-gateway.git
[submodule "charitan-client"]
	path = charitan-client
	url = git@github.com:charitan-go/charitan-client.git
[submodule "key-server"]
	path = key-server
	url = git@github.com:charitan-go/key-server.git
[submodule "email-server"]
	path = email-server
	url = git@github.com:charitan-go/email-server.git
[submodule "project-server"]
	path = project-server
	url = git@github.com:charitan-go/project-server.git
[submodule "notification-server"]
	path = notification-server
	url = git@github.com:charitan-go/notification-server.git
[submodule "media-server"]
	path = media-server
	url = git@github.com:charitan-go/media-server.git
